*.bak
*.csv
*.db
*.dump
*.gz
*.ini
last_mail
*.log
*.out
*.pid
*.pyc
*.save
*.sql
seizures.htpasswd
seizures.json
seizures.sqlite
seizures.sqlite3
settings.py
*.xls
*.xlsx
*.xml
*~
.*
!.gitignore
/static/
venv/
__pycache__/
