__pycache__
.idea
.run
.vscode
*~
*.bak
*.csv
*.db
*.dump
*.gz
*.ini
*.log
*.out
*.pid
*.pyc
*.save
*.sql
*.xls
*.xlsx
apps/core/static/datatables/
apps/core/static/fullcalendar/
apps/core/static/highcharts/
apps/core/static/leaflet/
apps/core/static/jquery-*.min.js
apps/core/static/bootstrap-*/
last_mail
last_mail_*
settings.py
seizures.htpasswd
seizures.json
seizures.sqlite
seizures.sqlite3
/static/
