asgiref==3.7.2
asn1crypto==1.5.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.3
Django==5.0.2
django-filter==23.5
django-jazzmin==2.6.0
django-snowflake==5.0.1
djangorestframework==3.14.0
filelock==3.13.1
gunicorn==21.2.0
idna==3.6
packaging==23.2
platformdirs==3.11.0
psycopg==3.1.18
psycopg-binary==3.1.18
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==24.0.0
pytz==2024.1
requests==2.31.0
sentry-sdk==1.40.4
snowflake-connector-python==3.7.0
sortedcontainers==2.4.0
sqlparse==0.4.4
tomlkit==0.12.3
typing_extensions==4.9.0
urllib3==2.2.0
