@font-face {
    font-family:    'Rock Salt';
    src:            url('/static/RockSalt-Regular.ttf');
}

html, body, table {
    font-family:    Helvetica, sans-serif;
}

h1 {
    font-size:      1.75em;
}

h1 a {
    color:              #a000a0;
    font-family:        'Rock Salt', cursive;
    text-decoration:    none;
}

h1 a:hover, h1 a:active {
    text-decoration:    underline;
}

#logo {
    background:     url('/static/seizure-sprite-50px.png') no-repeat transparent;
    display:        inline-block;
    height:         50px;
    width:          50px;
}

#logo:hover {
    background-position:    -50px 0;
    transform:              rotate(-45deg);
}

#logo:active {
    transform:              rotate(45deg);
}

h2, h3, h4 {
    font-weight:    normal;
}

a:link, a:active, a:visited {
    color:  #0082cb;
}

a:hover, #span-chosen, #date-chosen {
    color:          #a000a0;
    font-weight:    bold;
}

#date-chosen {
    border-color:   #0082cb;
    border-style:   solid;
    border-width:   2px;
}

#time-spans {
    position:       fixed;
    word-spacing:   0.5em;
}

#left-box {
    float:      left;
    position:   fixed;
    height:     100%;
    width:      70%;
}

#right-box {
    float:      right;
    width:      25%;
}

input {
    font-size:  1.5em;
    height:     1.5em;
}

@media (max-width: 1024px) {

    body {
        font-size:   1.5em;
    }

    input {
        width:      100%;
    }

    #map-canvas {
        clear:      both;
        position:   relative;
    }

    #left-box {
        height:     initial;
        clear:      both;
        float:      none;
        position:   relative;
        width:      100%;
    }

    #right-box {
        clear:      both;
        float:      none;
        position:   relative;
        width:      50%;
    }

    #time-spans {
        clear:      both;
        float:      none;
        position:   relative;
    }
}

#map-canvas {
    height:     75%;
    width:      100%;
}

#seizure-list {
    text-align: right;
}

#error {
    color:          #f80;
    font-weight:    bold;
}

table {
    border-collapse:    collapse;
    border-color:       #000;
    border-style:       solid;
    border-width:       1px;
}

tr:nth-child(2n) {
    background-color:   #ddd;
}

td:nth-child(2), td:nth-child(3) {
    text-align:         right;
}

li:nth-child(2n) {
    background-color:   #ddd;
}

li:target {
    font-weight:    bold;
}

li:target a {
    color:          #a000a0;
}

td {
    border:     none;
}

@media (prefers-color-scheme: dark) {

    body, table, li:nth-child(n), li:target a, input {
        background-color:   #444;
        color:              #fff;
    }

    #logo:hover {
        background-position:    -100px 0;
    }

    a:hover, #span-chosen, .date-chosen {
        color:              #fff;
    }

    tr:nth-child(2n) {
        background-color:   #ddd;
        color:              #000;
    }

    .marker-header, .marker-header a:hover {
        background-color:   #fff;
        color:              #000;
    }
}
