@font-face {
    font-family:    Shizuru;
    src:            url('/static/Shizuru-Regular.ttf');
}

html, body {
    height:         100%;
    font-family:    Verdana;
}

h1 a {
    font-family:        Shizuru;
    text-decoration:    none;
    color:              #a000a0;
}

h2, h3, h4 {
    font-weight:    normal;
    font-family:    Verdana;
}

a:link, a:active, a:visited {
    color:  #0082cb;
}

a:hover, #currentspan {
    color:  #a000a0;
}

#timespans {
    word-spacing:   0.5em;
    position:       fixed;
}

#leftbox {
    float:      left;
    width:      70%;
    height:     75%;
    position:   fixed;
}

#rightbox {
    float:      right;
    width:      25%;
}

#map_canvas {
    height:     100%;
    width:      100%;
}

#raw {
    text-align: right;
}

#error {
    color:          #f80;
    font-weight:    bold;
}

table {
    border-collapse:    collapse;
    border-color:       #000;
    border-style:       solid;
    border-width:       1px;
}

tr:nth-child(2n) {
    background-color:   #ddd;
}

td:nth-child(2), td:nth-child(3) {
    text-align: right;
}

li:nth-child(2n) {
    background-color:   #ddd;
}

li:target {
    font-weight:    bold;
}

li:target a {
    color:  #a000a0;
}

td {
    border:     none;
}

@media (prefers-color-scheme: dark) {

    body, table, li:nth-child(n), li:target a {
        background-color:   #444;
        color:              #fff;
    }

    #currentspan, a:active, a:hover {
        color: #fff;
    }

    tr:nth-child(2n) {
        background-color:   #ddd;
        color:              #000;
    }

    .markerheader, .markerheader a:hover {
        background-color:   #fff;
        color:              #000;
    }

    #datetable {
        background-color:   #444;
        color:              #fff;
        width:              100%;
    }

    #datetable th, #datetable tr, #datetable td {
        background-color:   #444;
        color:              #fff;
        border: 1px solid #ddd;
    }
}
