influxdb = {
    'username'      : 'seizures',
    'password'      : 'SECRET',
    'database'      : 'seizures',
    'measurement'   : 'seizures'
}

timezone = 'US/Eastern'

googlemaps_api_key = 'SECRET'

start = {
    'latitude'  : 39.9528,
    'longitude' : -75.1635,
    'zoom'      : 10
}
