influxdb = {
    'username'      : 'seizures',
    'password'      : 'SECRET',
    'database'      : 'seizures',
    'measurement'   : 'seizures'
}

timezone = 'US/Eastern'

googlemaps_api_key = 'SECRET'

start = {
    'latitude'  : 39.9528,
    'longitude' : -75.1635,
    'zoom'      : 10
}

timespans = ['1m', '5m', '10m', '30m', '1h', '3h', '6h', '12h', '1d', '2d', '3d', '4d', '5d', '1w', '2w', '3w', '30d', '60d', '90d', '120d', '26w', '52w']
default_timespan = '2d'
