[Unit]
Description=seizures datasette daemon
After=network.target

[Service]
Type=simple
User=seizures
Group=seizures
WorkingDirectory=/var/www/seizures
ExecStart=/var/www/seizures/venv/bin/datasette --uds /var/www/seizures/datasette.sock /var/www/seizures/seizures.sqlite3 --setting base_url /datasette/ --setting num_sql_threads 8 --metadata /var/www/seizures/datasette-metadata.json --config /var/www/seizures/datasette-settings.json
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
