/* Import and use logo font TTF. */
@font-face { font-family: 'Rock Salt'; src: url('/static/RockSalt-Regular.ttf'); }
#logo-text { font-family: 'Rock Salt', cursive; }

/*
Animate the image sprite logo using CSS transform to rotate on user interaction.
Sprite is three 50px wide copies same image in different colors.
Regular version, dark mode hover, and light mode hover.
*/
#logo {
    background: url("/static/seizure-sprite-50px.png") no-repeat transparent;
    display: inline-block;
    height: 50px;
    width: 50px;
}
#logo:hover { background-position: -50px 0; transform: rotate(-45deg); }
#logo:active { transform: rotate(45deg); }
#logo-rev {
    background: url("/static/seizure-sprite-50px.png") no-repeat transparent;
    display: inline-block;
    height: 50px;
    width: 50px;
    transform: scaleX(-1);
}
#logo-rev:hover { background-position: -50px 0;transform: rotate(45deg) scaleX(-1); }
#logo-rev:active { transform: rotate(-45deg) scaleX(-1); }

#left-box { width: 100%; height: 80vh; }
#map-canvas { height: 100%; width: 100%; border: 0.15em solid #09f; }

tr:nth-child(2n) { background-color: #ddd; }
td:nth-child(1) { font-weight: bold; }

/* Disable logo animation for users with "Reduce Motion" system preference. */
@media (prefers-reduced-motion) {
    #logo:active, #logo:hover, #logo-rev:active, #logo-rev:hover {
        transform:  none;
    }
}

