{% load static %}
<!DOCTYPE html>
<html class="dark" data-bs-theme="dark" lang="en">
    <head>
    {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="noimageindex, nofollow, nosnippet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="{% static "favicon.png" %}" rel="apple-touch-icon">
        <link href="{% static "bootstrap-5.3.5-dist/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "bootstrap-icons-1.11.3/font/bootstrap-icons.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
        <title>{{ WEBSITE_TITLE }}: {% block title %}{% endblock title %}</title>
    {% endblock head %}
    </head>

    <body>

        <header class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="#" class="logo-disp px-1 rounded" id="logo"></a>
                <a class="navbar-brand text-primary" href="#" id="logo-text" onClick="window.location.reload()">{{ WEBSITE_TITLE }}</a>
                <a href="#" class="logo-disp px-1 rounded" id="logo-rev"></a>
            </div>
        </header>

        <main class="container-fluid row">
    {% block messages %}
        {% if messages %}
            <div class="card-deck text-center" id="messages">
            {% for message in messages %}
                <div class="card">
                    <div class="card-body">
                        <span class="card-text message-{{ message.tags }}">{{ message }}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endblock messages %}
    {% block main %}
    {% endblock main %}
        </main>

        {% block scripts %}
            <script>
                const gmapsURL = "https://www.google.com/maps/search/?api=1&query=";
            </script>
            <script src="{% static "seizure.class.js" %}"></script>
            <script src="{% static "bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js" %}"></script>
            {% if SENTRY_JS %}
            <script src="https://js.sentry-cdn.com/{{ SENTRY_JS }}.min.js" crossorigin="anonymous"></script>
            <script>
                Sentry.onLoad(function() {
                    Sentry.init({
                        integrations: [
                            Sentry.replayIntegration({
                                maskAllText: false,
                                blockAllMedia: false,
                            }),
                        ],
                        replaysSessionSampleRate: 1.0,
                        replaysOnErrorSampleRate: 1.0,
                    });
              });
            </script>
            {% endif %}
        {% endblock scripts %}

    </body>
</html>
