{% load static %}
<!DOCTYPE html>
<html class="dark" data-bs-theme="dark" lang="en">
    <head>
    {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="noimageindex, nofollow, nosnippet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="{% static "favicon.png" %}" rel="apple-touch-icon">
        <link href="{% static "bootstrap-5.3.8-dist/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "bootstrap-icons-1.13.1/bootstrap-icons.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
        <title>{{ WEBSITE_TITLE }}: {% block title %}{% endblock title %}</title>
    {% endblock head %}
    </head>

    <body>

        <header class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="#" class="logo-disp px-1 rounded" id="logo"></a>
                <a class="navbar-brand text-primary" href="#" id="logo-text" onClick="window.location.reload()">{{ WEBSITE_TITLE }}</a>
                <a href="#" class="logo-disp px-1 rounded" id="logo-rev"></a>
            </div>
        </header>

        <main class="container-fluid row">
    {% block main %}
    {% endblock main %}
        </main>

    {% block scripts %}
        <script src="{% static "luxon.min.js" %}"></script>
        {% if seizures %}
        <script src="{% static "seizure.class.js" %}"></script>
        {% endif %}
        <script>
            function searchSeizures(hours) {
                document.getElementById("id_start").value = luxon.DateTime.local().minus({hours: hours}).toFormat("yyyy-MM-dd'T'HH:mm")
            }
        </script>
        <script src="{% static "bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js" %}"></script>
    {% endblock scripts %}

    </body>
</html>
