{% load static %}
<!DOCTYPE html>
<html class="dark" data-bs-theme="dark" lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="robots" content="noimageindex, nofollow, nosnippet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="{% static "favicon.png" %}" rel="apple-touch-icon">
        <link href="{% static "bootstrap-5.3.8-dist/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "bootstrap-icons-1.13.1/bootstrap-icons.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
        <title>{{ WEBSITE_TITLE }}: {% block title %}{% endblock title %}</title>
    {% endblock head %}
    </head>

    <body>

        <header class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="#" class="logo-disp px-1 rounded" id="logo"></a>
                <a class="navbar-brand text-primary" href="#" id="logo-text" onClick="window.location.reload()">{{ WEBSITE_TITLE }}</a>
                <a href="#" class="logo-disp px-1 rounded" id="logo-rev"></a>
            </div>
        </header>

        <main class="container-fluid row">
    {% block main %}
        {% block footer %}
            <footer class="card-footer list-inline">

            {% if request.user.is_staff %}
                <div class="bi bi-person-lock list-inline-item" style="padding: 0 3rem;">
                    <a href="{% url 'admin:index' %}" target="_blank" title="Administration">Administration</a>
                </div>
            {% endif %}

                <div class="bi bi-motherboard list-inline-item" style="padding: 0 3rem;">
                    <a href="/api/" target="_blank" title="API">API</a>
                </div>

                <code class="list-inline-item" title="{% now "r" %}" style="padding: 0 3rem;">
                    <time datetime="{% now 'Y-m-d H:i:sO' %}">{% now "M n, Y @ g:i:s A +0000 e" %}</time>
                </code>

                <form action="{% url 'logout' %}" class="list-inline-item" id="logout" method="post">
                    {% csrf_token %}
                    <i class="bi bi-door-closed"></i>
                    <a href="#" title="Log out" onclick="document.getElementById('logout').submit()">Log out</a>
                    ({{ user.get_username }})
                </form>

            </footer>
        {% endblock footer %}
    {% endblock main %}
        </main>

    {% block scripts %}
        <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'luxon.min.js' %}"></script>
        <script>
            const DateTime = luxon.DateTime
            const Interval = luxon.Interval
            const timeZone = "{{ TIME_ZONE }}"
        </script>
        {% if DEVICE_ICONS %}{{ DEVICE_ICONS|json_script:"device-icons" }}{% endif %}
        {% if start %}{{ start|json_script:"start" }}{% endif %}
        {% if end %}{{ end|json_script:"end" }}{% endif %}
        {% if seizures %}
        <script src="{% static 'seizure.class.js' %}"></script>
        {{ seizures|json_script:"seizures" }}
        <script>
            function searchSeizures(hours) {
                document.getElementById("id_start").value = DateTime.local().minus({hours: hours}).toFormat("yyyy-MM-dd'T'HH:mm")
            }
        </script>
        {% endif %}
        {% if perms.seizures.add_seizures %}
        <script src="{% static 'addSeizure.js' %}"></script>
        <script src="{% static 'prepareSeizure.js' %}"></script>
        {% endif %}
    {% endblock scripts %}

    </body>
</html>
