{% extends "layout.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
{% endblock head %}
{% block main %}
            <div class="card-group">

                <nav class="card-deck">
                    <div class="card rounded" id="seizures-card" style="height: 90vh; max-height: 90vh;">
                        <div class="card-header">
                            <div style="word-spacing: 0.25em;">
                                <a href="javascript:searchSeizures(1);">1h</a>
                                <a href="javascript:searchSeizures(6)">6h</a>
                                <a href="javascript:searchSeizures(12)">12h</a>
                                <a href="javascript:searchSeizures(24)">1d</a>
                                <a href="javascript:searchSeizures(168)">1w</a>
                                <a href="javascript:searchSeizures(720)">30d</a>
                                <a href="javascript:searchSeizures(4380)">6m</a>
                                <a href="javascript:searchSeizures(8760)">1y</a>
                            </div>
                            <form method="post" id="search-form" action="{% url "calendar" %}">
                                {{ form.as_div }}
                                {% csrf_token %}
                                <button type="submit" class="m-1 btn btn-outline-primary rounded">Search</button>
                                <button type="reset" class="m-1 btn btn-outline-secondary rounded">Clear</button>
                            {% if perms.seizures.add_seizures %}
                                <button type="button" class="m-1 btn btn-outline-primary rounded" onClick="prepareSeizure('{{ csrf_token }}')">
                                    <span class="bi bi-plus-lg" id="add-span"></span>
                                </button>
                            {% endif %}
                            </form>
                            <div class="card-text text-center">
                                <a class="btn btn-secondary bi bi-calendar" href="{% url "calendar" %}" title="Calendar"></a>
                                <a class="btn btn-outline-primary bi bi-graph-up-arrow" href="{% url "chart" %}" title="Chart"></a>
                                <a class="btn btn-outline-primary bi bi-geo-alt" href="{% url "map" %}" title="Map"></a>
                                <a class="btn btn-outline-primary bi bi-table" href="{% url "table" %}" title="Table"></a>
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="card rounded" id="calendar-card" style="height: 90vh; max-height: 90vh;">
                    <div class="card-body overflow-scroll">
                        <div style="height: 100%; width: 100%;"  id="calendar-canvas"></div>
                    </div>
                    <footer class="card-footer list-inline">
        {% if request.user.is_staff %}
                        <div class="bi bi-person-lock list-inline-item" style="padding: 0 3rem;">
                            <a href="{% url 'admin:index' %}" target="_blank" title="Administration">Administration</a>
                        </div>
                        <div class="bi bi-motherboard list-inline-item" style="padding: 0 3rem;">
                            <a href="/api/" target="_blank" title="API">API</a>
                        </div>
        {% endif %}
                        <code class="list-inline-item" title="{% now "r" %}" style="padding: 0 3rem;">
                            <time datetime="{% now "Y-m-d H:i:sO" %}">{% now "r" %}</time>
                        </code>
                        <form action="{% url 'logout' %}" class="list-inline-item" id="logout" method="post">
                            {% csrf_token %}
                            <i class="bi bi-door-closed"></i>
                            <a href="#" title="Log out" onclick="document.getElementById('logout').submit()">Log out</a>
                            ({{ user.get_username }})
                        </form>

                    </footer>
                </div>

            </div>
{% endblock main %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'luxon.min.js' %}"></script>
    <script>
        const timeZone = 'America/New_York'
        const DateTime = luxon.DateTime
        const Interval = luxon.Interval
    </script>
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'fullcalendar/dist/index.global.min.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/luxon3/index.global.min.js' %}"></script>
    {% if DEVICE_ICONS %}{{ DEVICE_ICONS|json_script:"device-icons" }}{% endif %}
    {{ seizures|json_script:"seizures" }}
    {{ start|json_script:"start" }}
    {{ end|json_script:"end" }}
    {% if perms.seizures.add_seizures %}
        <script src="{% static 'addSeizure.js' %}"></script>
        <script src="{% static 'prepareSeizure.js' %}"></script>
    {% endif %}
    <script src="{% static 'calendarSeizure.js' %}"></script>
    <script>

        // Start with empty lists.
        const seizureList = document.createElement("ul")
        seizureList.classList.add("overflow-scroll")
        seizureList.classList.add("p-0")
        const seizures = []

        // Parse JSON containing device icons.
        const deviceIcons = JSON.parse(document.getElementById("device-icons").textContent)

        // Sub-header card text.
        const subHeadText = "Showing {{ start|timesince:end }}."
        const cardHeader = document.createElement("h6")
        cardHeader.classList.add("card-header")
        cardHeader.classList.add("text-secondary")
        cardHeader.classList.add("text-center")
        cardHeader.title = subHeadText
        cardHeader.appendChild(document.createTextNode(subHeadText))
        const seizuresCard = document.getElementById("seizures-card")
        seizuresCard.appendChild(cardHeader)

        // Parse JSON data containing seizures.
        const seizureJSON = document.getElementById("seizures").textContent
        const seizureData = Object.values(JSON.parse(JSON.parse(seizureJSON)))

        // Loop through seizures, to put them on the calendar.
        let calendarData = []
        for (const seizure of seizureData) {
            let calendaredSeizure = calendarSeizure(seizure)
            seizures.push(calendaredSeizure)
        }

        // Get first and latest seizure date, for calendar range
        const calendarFirst = DateTime.fromISO(document.getElementById("start").innerText.replace(/"/g, "").replace(/'/g, ""))
        const calendarFirstDate = calendarFirst.toISODate()
        const calendarEnd = DateTime.fromISO(document.getElementById("end").innerText.replace(/"/g, "").replace(/'/g, ""))
        const calendarEndDate = calendarEnd.toISODate()

        // Add the timestamp for each seizure to the calendar.
        const calendarSeizures = []
        for (const calendarEvent of seizures) {
            const calendarTime = luxon.DateTime.fromMillis(calendarEvent.id).setZone('America/New_York')
            const calendarISOTime = calendarTime.toISO()
            const calendarString = `${calendarTime.toLocaleString(luxon.DateTime.TIME_WITH_SECONDS)}`
            const calendarTitle = `${calendarEvent.deviceIcon} ${calendarString}`
            calendarSeizures.push(
                {
                    start: calendarISOTime,
                    end: calendarTime.plus({seconds: 1}).toISO(),
                    title: calendarTitle,
                    extendedProps: {
                        altitude: calendarEvent.altitude,
                        latitude: calendarEvent.latitude,
                        longitude: calendarEvent.longitude,
                        deviceName: calendarEvent.deviceName,
                        deviceType: calendarEvent.deviceType,
                        ssid: calendarEvent.ssid,
                        battery: calendarEvent.battery,
                        brightness: calendarEvent.brightness,
                        volume: calendarEvent.volume,
                    },
                },
            )
         }

        // Append the list of seizure links to the navigation card.
        seizuresCard.appendChild(seizureList)

        // Add a card footer of the seizure count.
        const seizureCount = seizures.length
        const cardFooter = document.createElement("h5")
        cardFooter.classList.add("card-footer")
        cardFooter.classList.add("text-secondary")
        cardFooter.classList.add("text-center")
        let countText = `${seizureCount.toLocaleString("en-US")} seizure`
        if (seizureCount > 1) { countText += "s" }
        document.title += ` ${countText}`
        cardFooter.appendChild(document.createTextNode(countText))
        cardFooter.title = countText
        seizuresCard.appendChild(cardFooter)

        // Create the calendar (using fullcalendar.js).
        document.addEventListener("DOMContentLoaded", function() {
            const calendarCanvas = document.getElementById("calendar-canvas")
            const seizureCalendar = new FullCalendar.Calendar(calendarCanvas, {
                displayEventTime: false,
                initialView: "dayGridDay",
                themeSystem: "bootstrap5",
                validRange: {
                    start: calendarFirstDate,
                    end: calendarEnd.plus({days: 1}).toISODate(),
                },
                headerToolbar: {
                    left: 'dayGridWeek,dayGridMonth',
                    center: 'title',
                    right: 'prev,next today',
                },
                events: calendarSeizures,
            })
            seizureCalendar.render()
        })
    </script>
{% endblock scripts %}
