{% extends "layout.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <style>.leaflet-popup-content-wrapper, .leaflet-popup-tip { background: #666; }</style>
{% endblock head %}
{% block main %}
            <div class="card-group">

                <nav class="card-deck">
                    <div class="card rounded" id="seizures-card" style="height: 90vh; max-height: 90vh;">
                        <form class="card-header" method="post" id="search-form" action="{% url "map" %}">
                            {{ form.as_div }}
                            {% csrf_token %}
                            <button type="submit" class="m-1 btn btn-outline-primary rounded">Search</button>
                            <button type="reset" class="m-1 btn btn-outline-secondary rounded">Clear</button>
                        {% if perms.seizures.add_seizures %}
                            <button type="button" class="m-1 btn btn-outline-primary rounded" onClick="prepareSeizure('{{ csrf_token }}');">
                                <span class="bi bi-plus-lg" id="add-span"></span>
                            </button>
                        {% endif %}
                        </form>
                        <div class="card-text text-center">
                            <a class="btn btn-outline-primary bi bi-graph-up-arrow" href="{% url "chart" %}" title="Chart"></a>
                            <a class="btn btn-secondary bi bi-geo-alt disabled" href="#" title="Map"></a>
                            <a class="btn btn-outline-primary bi bi-table" href="{% url "table" %}" title="Table"></a>
                        </div>
                    </div>
                </nav>

                <div class="card rounded" id="map-card" style="height: 90vh; max-height: 90vh;">
                    <div class="card-body">
                        <div id="map-canvas" style="height: 100%; width: 100%;"></div>
                    </div>
                    <footer class="card-footer list-inline">
        {% if request.user.is_staff %}
                        <a class="list-inline-item" href="{% url "admin:index" %}" target="_blank" title="Administration">Administration</a>
        {% endif %}
                        <code class="list-inline-item" title="{% now "r" %}" style="padding: 0 3rem;">
                            <time datetime="{% now "c" %}">{% now "r" %}</time>
                        </code>
                        <form action="{% url "logout" %}" class="list-inline-item" id="logout" method="post">
                            {% csrf_token %}
                            <a href="#" title="Log out" onclick="document.getElementById('logout').submit()">Log out</a>
                            ({{ user.get_username }})
                        </form>

                    </footer>
                </div>

            </div>
{% endblock main %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    {% if DEVICE_ICONS %}{{ DEVICE_ICONS|json_script:"device-icons" }}{% endif %}
    {{ seizures|json_script:"seizures" }}
{% if perms.seizures.add_seizures %}
    <script src="{% static 'addSeizure.js' %}"></script>
    <script src="{% static 'prepareSeizure.js' %}"></script>
{% endif %}
    <script src="{% static 'mapSeizure.js' %}"></script>
    <script src="{% static 'mapSeizures.js' %}"></script>
    <script>
        // Create the map (using Leaflet).
        const map = L.map("map-canvas");
        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: "&copy; OpenStreetMap",
            className: "map-tiles"
        }).addTo(map);

        // Start with empty list, markers, latitudes, and longitudes.
        const seizureList = document.createElement("ul");
        seizureList.classList.add("overflow-scroll");
        seizureList.classList.add("p-0");
        const markers = [];
        const latitudes = [];
        const longitudes = [];

        // Parse JSON containing device icons.
        const deviceIcons = JSON.parse(document.getElementById("device-icons").textContent);

        // Sub-header card text.
        const subHeadText = "Showing {{ start|timesince:end }}.";
        const cardHeader = document.createElement("h6");
        cardHeader.classList.add("card-header");
        cardHeader.classList.add("text-secondary");
        cardHeader.classList.add("text-center");
        cardHeader.title = subHeadText;
        cardHeader.appendChild(document.createTextNode(subHeadText));
        const seizuresCard = document.getElementById("seizures-card");
        seizuresCard.appendChild(cardHeader);

        mapSeizures(document.getElementById("seizures").textContent);
    </script>
{% endblock scripts %}
