{% extends "layout.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
{% endblock head %}
{% block main %}
            <div class="card-group">

                <nav class="card-deck">
                    <div class="card rounded" id="seizures-card" style="height: 90vh; max-height: 90vh;">
                        <form class="card-header" method="post" id="search-form" action="{% url "table" %}">
                            {{ form.as_div }}
                            {% csrf_token %}
                            <button type="submit" class="m-1 btn btn-outline-primary rounded">Search</button>
                            <button type="reset" class="m-1 btn btn-outline-secondary rounded">Clear</button>
                            <button type="button" class="m-1 btn btn-outline-primary rounded" onClick="prepareSeizure('{{ csrf_token }}');">
                                <span class="bi bi-plus-lg" id="add-span"></span>
                            </button>
                        </form>
                    </div>
                </nav>

                <div class="card rounded" id="table-card" style="height: 90vh; max-height: 90vh;">
                    <div class="card-body overflow-scroll">
                        <table id="table-canvas" style="height: 100%; width: 100%;">
                            <thead>
                                <tr class="bg-dark fw-bold">
                                    <td>Date</td>
                                    <td>Device</td>
                                    <td>SSID</td>
                                    <td>Address</td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- -->
                            </tbody>
                        </table>
                    </div>
                    <footer class="card-footer list-inline">
        {% if request.user.is_staff %}
                        <a class="list-inline-item" href="{% url "admin:index" %}" target="_blank" title="Administration">Administration</a>
        {% endif %}
                        <code class="list-inline-item" title="{% now "r" %}" style="padding: 0 3rem;">
                            <time datetime="{% now "c" %}">{% now "r" %}</time>
                        </code>
                        <form action="{% url "logout" %}" class="list-inline-item" id="logout" method="post">
                            {% csrf_token %}
                            <a href="#" title="Log out" onclick="document.getElementById('logout').submit()">Log out</a>
                            ({{ user.get_username }})
                        </form>

                    </footer>
                </div>

            </div>
{% endblock main %}
{% block scripts %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'datatables.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{% static 'datatables.min.js' %}"></script>
    {% if device_icons %}{{ device_icons|json_script:"device-icons" }}{% endif %}
    {{ seizures|json_script:"seizures" }}
    <script src="{% static 'addSeizure.js' %}"></script>
    <script src="{% static 'prepareSeizure.js' %}"></script>
    <script src="{% static 'tableSeizure.js' %}"></script>
    <script src="{% static 'tableSeizures.js' %}"></script>
    <script>

        // Start with empty lists.
        const seizureList = document.createElement("ul");
        seizureList.classList.add("overflow-scroll");
        seizureList.classList.add("p-0");
        const seizures = [];

        // Parse JSON containing device icons.
        const deviceIcons = JSON.parse(document.getElementById("device-icons").textContent);

        // Sub-header card text.
        const subHeadText = "Showing {{ start|timesince:end }}.";
        const cardHeader = document.createElement("h6");
        cardHeader.classList.add("card-header");
        cardHeader.classList.add("text-secondary");
        cardHeader.classList.add("text-center");
        cardHeader.title = subHeadText;
        cardHeader.appendChild(document.createTextNode(subHeadText));
        const seizuresCard = document.getElementById("seizures-card");
        seizuresCard.appendChild(cardHeader);

        // Parse and table JSON data containing seizures.
        const seizureJSON = document.getElementById("seizures").textContent;
        const seizureData = Object.values(JSON.parse(JSON.parse(seizureJSON)));

        // Loop through seizures, displaying each.
        for (const seizure of seizureData) {
            seizures.push(tableSeizure(seizure));
        };

        // Append the list of seizure links to the navigation card.
        seizuresCard.appendChild(seizureList);

        // Add a card footer of the seizure count.
        const seizureCount = seizures.length;
        const cardFooter = document.createElement("h5");
        cardFooter.classList.add("card-footer");
        cardFooter.classList.add("text-secondary");
        cardFooter.classList.add("text-center");
        let countText = `${seizureCount.toLocaleString("en-US")} seizure`;
        if (seizureCount > 1) { countText += "s"; };
        document.title += ` ${countText}`;
        cardFooter.appendChild(document.createTextNode(countText));
        cardFooter.title = countText;
        seizuresCard.appendChild(cardFooter);

        // Log if referenced by URL anchor.
        const anchor = String(window.location.hash).split('#')[1];
        if (anchor) {
            // const marker = markers[anchor];
            console.log('anchor:', anchor);
        };

        // Log if single marker.
        if (seizureCount === 1) {
            console.log(markers[Object.keys(markers)[0]]);
        };

        console.log(seizures);

        // Create the table (using DataTables).
        const seizureTable = new DataTable("#table-canvas", {
            bPaginate: false,
            data: seizures,
            columns: [
                {
                    "data": {
                        "_": "titleDate",
                        "display": "titleDate",
                        "sort": "unixTime"
                    },
                    searchable: false
                },
                {
                    "data": {
                        "_": "deviceText",
                        "display": "deviceText",
                        "filter": "deviceName",
                        "sort": "deviceName"
                    }
                },
                { data: "ssid" },
                { data: "address" }
            ],
            columnDefs: [
                { defaultContent: "-", targets: "_all" }
            ],
            drawCallback: function (settings) {
                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
            },
            info: false,
            lengthChange: false,
            order: [[0, "desc"],],
            paging: false,
            pageLength: -1,
            responsive: {responsive: true},
        });

    </script>
{% endblock scripts %}
