{% extends "layout.html" %}
{% load static %}
{% block head %}
    {{ block.super }}

{% endblock head %}
{% block main %}
            <div class="card-group">

                <nav class="card-deck">
                    <div class="card rounded" id="seizures-card" style="height: 90vh; max-height: 90vh;">
                        <form class="card-header" method="post" id="search-form" action="{% url "table" %}">
                            {{ form.as_div }}
                            {% csrf_token %}
                            <button type="submit" class="m-1 btn btn-outline-primary rounded">Search</button>
                            <button type="reset" class="m-1 btn btn-outline-secondary rounded">Clear</button>
                            <button type="button" class="m-1 btn btn-outline-primary rounded" onClick="prepareSeizure('{{ csrf_token }}');">
                                <span class="bi bi-plus-lg" id="add-span"></span>
                            </button>
                        </form>
                    </div>
                </nav>

                <div class="card rounded" id="table-card" style="height: 90vh; max-height: 90vh;">
                    <div class="card-body overflow-scroll">
                        <table class="table table-striped table-sm table-responsive" id="table-canvas" style="height: 100%; width: 100%;">
                            <thead>
                                <tr class="bg-dark fw-bold">
                                    <td data-bs-toggle="tooltip" data-bs-title="When">When</td>
                                    <td data-bs-toggle="tooltip" data-bs-title="Device">Device</td>
                                    <td data-bs-toggle="tooltip" data-bs-title="Address">Address</td>
                                    <td data-bs-toggle="tooltip" data-bs-title="Altitude (meters)">Altitude</td>
                                    <td data-bs-toggle="tooltip" data-bs-title="Battery">Battery</td>
                                    <td data-bs-toggle="tooltip" data-bs-title="Brightness">Brightness</td>
                                    <td data-bs-toggle="tooltip" data-bs-title="Latitude">Latitude</td>
                                    <td data-bs-toggle="tooltip" data-bs-title="Longitude">Longitude</td>
                                    <td data-bs-toggle="tooltip" data-bs-title="SSID">SSID</td>
                                    <td data-bs-toggle="tooltip" data-bs-title="Volume">Volume</td>
                                </tr>
                            </thead>
                            <tbody class="small">
                                <!-- -->
                            </tbody>
                        </table>
                    </div>
                    <footer class="card-footer list-inline">
        {% if request.user.is_staff %}
                        <a class="list-inline-item" href="{% url "admin:index" %}" target="_blank" title="Administration">Administration</a>
        {% endif %}
                        <code class="list-inline-item" title="{% now "r" %}" style="padding: 0 3rem;">
                            <time datetime="{% now "c" %}">{% now "r" %}</time>
                        </code>
                        <form action="{% url "logout" %}" class="list-inline-item" id="logout" method="post">
                            {% csrf_token %}
                            <a href="#" title="Log out" onclick="document.getElementById('logout').submit()">Log out</a>
                            ({{ user.get_username }})
                        </form>

                    </footer>
                </div>

            </div>
{% endblock main %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'luxon.min.js' %}"></script>
    <script>
        const timeZone = 'America/New_York'
        const DateTime = luxon.DateTime

        // Tooltips.
        async function renderTooltips (tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')) {
            let tooltipList = [...tooltipTriggerList].map(
                tooltipTriggerEl => new bootstrap.Tooltip(
                    tooltipTriggerEl, {
                        boundary: document.body,
                        container: 'body',
                        trigger: 'hover',
                    }
                )
            )
            tooltipList.forEach((tooltip) => {
                $('.tooltip').hide()
            })
        }
    </script>
    <link href="{% static 'datatables/datatables.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'datatables/datatables.min.js' %}"></script>
    {% if DEVICE_ICONS %}{{ DEVICE_ICONS|json_script:"device-icons" }}{% endif %}
    {{ seizures|json_script:"seizures" }}
    <script src="{% static 'addSeizure.js' %}"></script>
    <script src="{% static 'prepareSeizure.js' %}"></script>
    <script src="{% static 'tableSeizure.js' %}"></script>
    <script>

        // Start with empty lists.
        const seizureList = document.createElement("ul");
        seizureList.classList.add("overflow-scroll");
        seizureList.classList.add("p-0");
        const seizures = [];

        // Parse JSON containing device icons.
        const deviceIcons = JSON.parse(document.getElementById("device-icons").textContent);

        // Sub-header card text.
        const subHeadText = "Showing {{ start|timesince:end }}.";
        const cardHeader = document.createElement("h6");
        cardHeader.classList.add("card-header");
        cardHeader.classList.add("text-secondary");
        cardHeader.classList.add("text-center");
        cardHeader.title = subHeadText;
        cardHeader.appendChild(document.createTextNode(subHeadText));
        const seizuresCard = document.getElementById("seizures-card");
        seizuresCard.appendChild(cardHeader);

        // Parse and table JSON data containing seizures.
        const seizureJSON = document.getElementById("seizures").textContent;
        const seizureData = Object.values(JSON.parse(JSON.parse(seizureJSON)));

        // Loop through seizures, tabling each.
        for (const seizure of seizureData) {
            seizures.push(tableSeizure(seizure));
        }

        // Append the list of seizure links to the navigation card.
        seizuresCard.appendChild(seizureList);

        // Add a card footer of the seizure count.
        const seizureCount = seizures.length;
        const cardFooter = document.createElement("h5");
        cardFooter.classList.add("card-footer");
        cardFooter.classList.add("text-secondary");
        cardFooter.classList.add("text-center");
        let countText = `${seizureCount.toLocaleString("en-US")} seizure`;
        if (seizureCount > 1) { countText += "s"; }
        document.title += ` ${countText}`;
        cardFooter.appendChild(document.createTextNode(countText));
        cardFooter.title = countText;
        seizuresCard.appendChild(cardFooter);

        // Log if referenced by URL anchor.
        const anchor = String(window.location.hash).split('#')[1];

        // Create the table (using DataTables).
        const seizureTable = new DataTable("#table-canvas", {
            colReorder: true,
            data: seizures,
            drawCallback: async function () { await renderTooltips() },
            initComplete: async function () { await renderTooltips() },
            columns: [
                // #0.
                {
                    data: "when",
                    render: (data, type, row, meta) => {
                        const dateWhen = data.getTime();
                        const luxonWhen = luxon.DateTime.fromMillis(dateWhen);
                        if (type === "display") {
                            const titleWhen = luxonWhen.toLocaleString(luxon.DateTime.DATETIME_MED_WITH_WEEKDAY);
                            const verboseWhen = luxonWhen.toLocaleString(luxon.DateTime.DATETIME_HUGE_WITH_SECONDS);
                            return `<span data-bs-toggle="tooltip" data-bs-title="${verboseWhen}" title="${verboseWhen}">${titleWhen}</span>`;
                        }
                        if (type === "export") {
                            return luxonWhen.toISO();
                        }
                        return luxonWhen;
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "luxon",
                },
                // #1.
                {
                    data: "deviceName",
                    render: function (data, type, row, meta) {
                        if (type === "display") {
                            const deviceIcon = deviceIcons[row["deviceType"]];
                            return `<span data-bs-toggle="tooltip" data-bs-title="${data}" title="${data}">${deviceIcon} ${data}</span>`
                        }
                        return data
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "string-utf8",
                },
                // #2.
                {
                    data: "address",
                    defaultContent: "",
                    render: function (data, type, row, meta) {
                        if (type === "display") {
                            return `<address data-bs-toggle="tooltip" data-bs-title="<b>Google Maps</b>: ${data} (<code>${row['latitude']}</code>, <code>${row['longitude']}</code>)" data-bs-html="true" title="Google Maps: ${data} (${row['latitude']}, ${row['longitude']})"><a href="${gmapsURL}${row['latitude']},${row['longitude']}" target="_blank">${data}</a></address>`;
                        }
                        return data
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "string",
                },
                // #3.
                {
                    data: "altitude",
                    defaultContent: "",
                    render: function (data, type, row, meta) {
                        if (type === "display") {
                            let dataLabelled = data;
                            if (data) {
                                dataLabelled += "m";
                            }
                            return `<code data-bs-toggle="tooltip" data-bs-title="<code>${dataLabelled}</span>" data-bs-html="true" title="${dataLabelled}">${parseFloat(data).toFixed(2)}</code>`
                        }
                        return data
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "num",
                    // visible: false,
                },
                // #4.
                {
                    data: "battery",
                    defaultContent: "",
                    render: function (data, type, row, meta) {
                        if (type === "display") {

                            let batteryColor = "secondary"
                            if (data == 100) {
                                batteryColor = "success"
                            } else if (data >= 90) {
                                batteryColor = "success-emphasis"
                            } else if (data >= 75) {
                                batteryColor = "warning"
                            } else if (data >= 50) {
                                batteryColor = "warning-emphasis"
                            } else if (data >= 25) {
                                batteryColor = "danger-emphasis"
                            } else if (data > 1) {
                                batteryColor = "danger"
                            }

                            let batteryIcon = "question"
                            if (data >= 75) {
                                batteryIcon = "battery-full"
                            } else if (data >= 25) {
                                batteryIcon = "battery-half"
                            } else if (data > 0) {
                                batteryIcon = "battery"
                            }

                            return `<center><i class="bi bi-${batteryIcon} text-${batteryColor}" data-bs-toggle="tooltip" data-bs-title="<code>${data}%</code>" data-bs-html="true" title="${data}%"></i></center>`
                        }
                        return data
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "num",
                    // visible: false,
                },
                // #5.
                {
                    data: "brightness",
                    defaultContent: "",
                    render: function (data, type, row, meta) {
                        if (type === "display") {
                            let brightnessColor = "secondary"
                            let brightnessIcon = "question"
                            let brightnessValue = data

                            if (brightnessValue === null || brightnessValue === undefined) {
                                brightnessColor = "secondary"
                                brightnessIcon = "question"
                            } else if (brightnessValue >= 90) {
                                brightnessIcon = "brightness-high-fill"
                            } else if (brightnessValue >= 50) {
                                brightnessIcon = "brightness-high"
                            } else if (brightnessValue >= 25) {
                                brightnessIcon = "brightness-low-fill"
                            } else if (brightnessValue >= 0) {
                                brightnessIcon = "brightness-low"
                            }

                            if (brightnessValue > 0) {
                                brightnessColor = "warning"
                            } else if (brightnessValue == 0 && brightnessValue !== null && brightnessValue !== undefined) {
                                brightnessValue = 0
                            }

                            return `<center><i class="bi bi-${brightnessIcon} text-${brightnessColor}" style="filter: contrast(${brightnessValue}%);" data-bs-toggle="tooltip" data-bs-title="<code>${brightnessValue}%</code>" data-bs-html="true" title="${brightnessValue}%"></i></center>`
                        }
                        return data
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "num",
                    // visible: false,
                },
                // #6.
                {
                    data: "latitude",
                    render: function (data, type, row, meta) {
                        if (type === "display") {
                            return `<code data-bs-toggle="tooltip" data-bs-title="<code>${data}</code>" data-bs-html="true" title="${data}">${parseFloat(data).toFixed(4)}</code>`
                        }
                        return data
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "num",
                    visible: false,
                },
                // #7.
                {
                    data: "longitude",
                    render: function (data, type, row, meta) {
                        if (type === "display") {
                            return `<code data-bs-toggle="tooltip" data-bs-title="<code>${data}</code>" data-bs-html="true" title="${data}">${parseFloat(data).toFixed(4)}</code>`
                        }
                        return data
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "num",
                    visible: false,
                },
                // #8.
                {
                    data: "ssid",
                    defaultContent: "",
                    render: function (data, type, row, meta) {
                        if (data && type === "display") {
                            return `<code data-bs-toggle="tooltip" data-bs-title="<code>${data}</code>" data-bs-html="true" title="${data}">${data}</code>`
                        }
                        return data
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "string",
                    // visible: false,
                },
                // #9.
                {
                    data: "volume",
                    defaultContent: "",
                    render: function (data, type, row, meta) {
                        if (type === "display") {
                            let volumeColor = "secondary"
                            let volumeIcon = "question"
                            let volumeValue = data

                            if (volumeValue === null || volumeValue === undefined) {
                                volumeColor = "secondary"
                                volumeIcon = "question"
                            } else if (volumeValue >= 90) {
                                volumeColor = "success-emphasis"
                                volumeIcon = "volume-up-fill"
                            } else if (volumeValue >= 75) {
                                volumeColor = "warning"
                                volumeIcon = "volume-up"
                            } else if (volumeValue >= 50) {
                                volumeColor = "warning-emphasis"
                                volumeIcon = "volume-down-fill"
                            } else if (volumeValue >= 25) {
                                volumeColor = "danger-emphasis"
                                volumeIcon = "volume-down"
                            } else if (volumeValue > 0) {
                                volumeColor = "danger"
                                volumeIcon = "volume-off-fill"
                            }

                            if (volumeValue == 0 && volumeValue !== null && volumeValue !== undefined) {
                                volumeColor = "danger"
                                volumeIcon = "volume-mute"
                                volumeValue = 0
                            }

                            return `<center><i class="bi bi-${volumeIcon} text-${volumeColor}" data-bs-toggle="tooltip" data-bs-title="<code>${volumeValue}%</code>" data-bs-html="true" title="${data}%"></i></center>`
                        }
                        return data
                    },
                    searchBuilder: {
                        orthogonal: { display: "filter", },
                    },
                    type: "num",
                    // visible: false,
                },
            ],
            language: {
                buttons: {
                    createState: '<span class="bi bi-save" data-bs-toggle="tooltip" data-bs-title="Save State" title="Save State"> Save State</span>',
                    savedStates: {
                        0: '<span class="bi bi-floppy" data-bs-toggle="tooltip" data-bs-title="Saved States" title="Saved States"> Saved States</span>',
                        1: '<span class="bi bi-floppy" data-bs-toggle="tooltip" data-bs-title="Saved States (1)" title="Saved States (1)"> Saved States (1)</span>',
                        1: '<span class="bi bi-floppy" data-bs-toggle="tooltip" data-bs-title="Saved States" title="Saved States"> Saved States (%d)</span>',
                    },
                },
                info: `<span data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>_START_</b> &mdash; <b>_END_</b> / <b>_TOTAL_</b> seizures" title="_START_ &mdash; _END_ / _TOTAL_ seizures"><i class="bi bi-info-circle text-secondary-emphasis"></i> <b>_START_</b> &mdash; <b>_END_</b> / <b>_TOTAL_</b></span>`,
                infoEmpty: `<span data-bs-toggle="tooltip" data-bs-title="0 seizures" title="0 seizures"><i class="bi bi-patch-exclamation text-danger"></i> <b>0</b> seizures</span>`,
                infoFiltered: `<span data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Total: <b>_MAX_</b> seizures" title="Total Seizures: _MAX_">(of <b>_MAX_</b> total)</span>`,
                lengthMenu: `_MENU_`,
                searchBuilder: {
                    button: {
                        0: '<i class="bi bi-search" data-bs-toggle="tooltip" data-bs-title="Search" title="Search"></i> Search',
                        1: '<i class="bi bi-search" data-bs-toggle="tooltip" data-bs-title="Search (1)" title="Search (1)"></i> Search (1)',
                        _: '<i class="bi bi-search" data-bs-toggle="tooltip" data-bs-title="Search" title="Search"></i> Search (%d)',
                    },
                    title: '<i class="bi bi-search" data-bs-toggle="tooltip" data-bs-title="Search" title="Search"></i> Search',
                },
                zeroRecords: `<span data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="No seizures found!" title="No seizures found!"><i class="bi bi-patch-exclamation text-danger"></i> No seizures found!</span>`,
            },
            layout: {
                topStart: {
                    buttons: [
                        {
                            extend: "colvis",
                            text: '<span data-bs-toggle="tooltip" data-bs-title="Columns visibility" class="bi bi-list-columns"> Columns</span>',
                        },
                        {
                            exportOptions: { orthogonal: "export", },
                            extend: "copyHtml5",
                            title: null,
                            text: '<span data-bs-toggle="tooltip" data-bs-title="Copy rows to clipboard" class="bi bi-clipboard"> Copy</span>',
                        },
                        {
                            exportOptions: { orthogonal: "export", },
                            extend: "csvHtml5",
                            title: "Seizures",
                            text: '<span data-bs-toggle="tooltip" data-bs-title="Comma-separated values (.csv)" class="bi bi-filetype-csv"> CSV</span>',
                        },
                        {
                            exportOptions: { orthogonal: "export", },
                            extend: "excelHtml5",
                            title: "Seizures",
                            text: '<span data-bs-toggle="tooltip" data-bs-title="Microsoft Excel (.xlsx)" class="bi bi-filetype-xlsx"> Excel</span>',
                        },
                        { extend: "createState", },
                        { extend: "savedStates", },
                        {
                            extend: "searchBuilder",
                            config: { depthLimit: 1, },
                            text: '<span data-bs-toggle="tooltip" data-bs-title="Search" class="bi bi-search"> Search</span>',
                        },
                    ],
                },
                topEnd: "paging",
                bottomStart: "pageLength",
                bottomEnd: "info"
            },
            lengthChange: true,
            lengthMenu: [
                5, { label: "10 (default)", value: 10,},
                15, 20, 25, 50, 75, 100, { label: "all", value: -1 },
            ],
            order: [[0, "desc"],],
            pageLength: 10,
            responsive: {
                responsive: true,
            },
            searchBuilder: {
                depthLimit: 1,
            },
        });
        seizureTable.on('column-visibility.dt', async function (e, settings, column, state) {
            await renderTooltips()
        })
    </script>
{% endblock scripts %}
