/* Import and use logo font TTF. */
@font-face { font-family: "Rock Salt"; src: url("/static/RockSalt-Regular.ttf"); }
#logo-text { font-family: "Rock Salt", cursive; }
#logo-text:hover { opacity: 50%; }

/* Animate the image sprite logo using CSS transform to rotate on user interaction.
Sprite is three 50px wide copies same image in different colors.
Regular version, dark mode hover, and light mode hover. */
.logo-disp { display: inline-block; height: 50px; width: 50px; }
#logo { background: url("/static/seizure-sprite-50px.png") no-repeat transparent; }
#logo:hover { background-position: -50px 0; transform: rotate(-45deg); }
#logo:active { transform: rotate(45deg); }
#logo-rev { background: url("/static/seizure-sprite-50px.png") no-repeat transparent; transform: scaleX(-1); }
#logo-rev:hover { background-position: -50px 0; transform: rotate(45deg) scaleX(-1); }
#logo-rev:active { transform: rotate(-45deg) scaleX(-1); }

.errorlist { color: #be3814; font-weight: bold; list-style: none; }
.list-group-item:target, tr:target, button, input { border: 0.15rem solid #09f; }
a[target="_blank"]::after { margin-left: 0.25rem; content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==); }
button { background-color: inherit; }
label { display: block; }
tbody td { font-size: 0.85rem; }
.marker-icon { font-size: 1.8rem; border: 0.1rem solid var(--bs-primary); border-radius: var(--bs-border-radius); }

/* Disable logo animation for users with "Reduce Motion" system preference. */
@media (prefers-reduced-motion) { #logo:active, #logo:hover, #logo-rev:active, #logo-rev:hover { transform:  none; } }

/* Needed for automatic dark mode: https://gist.github.com/BrendonKoz/b1df234fe3ee388b402cd8e98f7eedbd */
:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
    --fc-border-color: rgb(108, 117, 125);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body, .navbar, .card, input, button, ul, footer, tr:nth-child(2n), nav li:nth-child(2n), .leaflet-popup-content-wrapper, .leaflet-popup-tip { background-color: #424242; color: #ccc; }
    tr:nth-child(2n+1), nav li:nth-child(2n+1) { background-color: #616161; color: #ddd; }
    a[target="_blank"]::after { filter: invert(1); }
    ::-webkit-scrollbar { display: none; }
    #logo:hover { background-position: -100px 0; }
    #logo-rev:hover { background-position: -100px 0; }
    .map-tiles { filter:var(--map-tiles-filter, none); }
}

.fc-day-today { background-color: rgb(44, 62, 80) !important; }
.fc-day-past { background-color: rgb(66, 66, 66) !important; }
.fc-daygrid-event-dot { visibility: hidden; }
