{%- if points is defined -%}
{%- set total_points = points|length -%}
{%- else -%}
{%- set total_points = 0 -%}
{%- endif -%}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noimageindex, nofollow, nosnippet" />
        <title>Eric's Seizure Map ({{ total_points }} seizure{% if total_points is defined and total_points != 1 %}s{% endif %})</title>
        <link href="{{ url_for('static', filename='map.css') }}" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key={{ googlemaps_api_key }}"></script>
        <script type="text/javascript">

            function initMap() {

                const home = { lat: {{ start['latitude'] }}, lng: {{ start['longitude'] }} };
                const map = new google.maps.Map(document.getElementById("map_canvas"), {
                    zoom: {{ start['zoom'] }},
                    center: home,
                });

                {% for point in points %}
                {% set outer_loop = loop %}

                var contentString_{{ loop.index }} = '<table>';
                contentString_{{ loop.index }} += '<tr><th>{{ loop.index }} of {{ total_points }}</th><th>{{ point['time'] | format_datetime }}</th></tr>';

                {% for i in point.keys() -%}
                contentString_{{ outer_loop.index }} += '<tr><td>{{ i }}</td><td>{{ point[i] | replace("\"", "") | replace("\'", "\\\'") }}</td></tr>';
                {% endfor -%}
                contentString_{{ loop.index }} += '</table>';

                const infowindow_{{ loop.index }} = new google.maps.InfoWindow({
                    content: contentString_{{ loop.index }},
                });

                const position_{{ loop.index }} = { lat: {{ point['latitude'] }}, lng: {{ point['longitude'] }} };
                const marker_{{ loop.index }} = new google.maps.Marker({
                    position: position_{{ loop.index }},
                    map,
                    title: "{{ point['time'] | format_datetime }}",
                });

                marker_{{ loop.index }}.addListener("click", () => {
                    infowindow_{{ loop.index }}.open({
                        anchor: marker_{{ loop.index }},
                        map,
                        shouldFocus: false,
                    });
                });

                {% endfor %}
            }
        </script>
    </head>
    <body onload="initMap()">
        <h1>Eric's Seizure Map</h1>
        <hr>

        {% if total_points is defined %}
        <h2>{{ total_points }} seizure{% if total_points != 1 %}s</h2>{% endif %}
        {% endif %}
        {% if points is defined and points[0] is defined and points[0]['time'] is defined %}<h3>since {{ points[0]['time'] | format_datetime }}</h3>{% endif %}
        <div id="map_canvas"></div>
    </body>
</html>
