{%- if points is defined and points != None -%}
{%- set total_points = points|length -%}
{%- else -%}
{%- set total_points = 0 -%}
{%- set points = [] -%}
{%- endif -%}
{%- if total_points == 0 and error_message is not defined -%}
{%- set error_message = "Sorry, but no seizures were found! Please try again later, or perform another search." -%}
{%- endif -%}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noimageindex, nofollow, nosnippet" />
        <title>Eric's Seizures ({{ total_points }} seizure{% if total_points != 1 %}s{% endif %})</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        {%- if googlemaps_api_key is defined and googlemaps_api_key != None %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_api_key }}"></script>
        {%- endif %}
        <script type="text/javascript">
            {%- if total_points > 0 %}
            var markers = [];
            var infowindows = [];

            function initMap() {

                const home = { lat: {{ start['latitude'] }}, lng: {{ start['longitude'] }} };
                const map = new google.maps.Map(document.getElementById('map_canvas'), {
                    zoom: {{ start['zoom'] }},
                    center: home,
                });

                {% for point in points %}
                {%- set unix_time = point['time'] | string | truncate(10, True, '') -%}
                {%- set pretty_time = point['time'] | format_datetime -%}
                var contentString_{{ unix_time }} = '<table>';
                contentString_{{ unix_time }} += '<tr>';
                contentString_{{ unix_time }} += '<th class="markerheader"><a href="#{{ unix_time }}">{{ loop.index }} of {{ total_points }}</a></th>';
                contentString_{{ unix_time }} += '<th class="markerheader">{{ pretty_time }}<th>';
                contentString_{{ unix_time }} += '</tr>';
                {% for i in point.keys() -%}
                contentString_{{ unix_time }} += '<tr><td>{{ i }}</td><td>{{ point[i] | safe | replace("'", "\\'") }}</td></tr>';
                {% endfor -%}
                contentString_{{ unix_time }} += '</table>';
                const infowindow_{{ unix_time }} = new google.maps.InfoWindow({
                    content: contentString_{{ unix_time }},
                });
                const position_{{ unix_time }} = { lat: {{ point['latitude'] }}, lng: {{ point['longitude'] }} };
                const marker_{{ unix_time }} = new google.maps.Marker({
                    position: position_{{ unix_time }},
                    map,
                    title: "{{ pretty_time | striptags }}",
                });
                marker_{{ unix_time }}.addListener('click', () => {
                    if (infowindows) {
                        for (const [key, value] of Object.entries(infowindows)) {
                            infowindows[key].close();
                            delete(infowindows[key]);
                        };
                    };
                    infowindow_{{ unix_time }}.open({
                        anchor: marker_{{ unix_time }},
                        map,
                        shouldFocus: true
                    });
                    infowindows[{{ unix_time }}] = infowindow_{{ unix_time }};
                });
                markers[{{ unix_time }}] = marker_{{ unix_time }};
                infowindow_{{ unix_time }}.addListener('closeclick', () => {
                    delete(infowindows[{{ unix_time }}]);
                });

                {% endfor -%}

                if (window.location.hash.substr(1)) {
                    var time = window.location.hash.substr(1);
                    markerOpen(time);
                };

                if (Object.keys(markers).length == 1) {
                    for (const [time, marker] of Object.entries(markers)) {
                        markerOpen(time);
                    };
                };
            };

            function markerOpen(time) {
                google.maps.event.trigger(markers[time], 'click');
            };
            {% endif %}
            function chooseDate() {
                var chosenDate = document.getElementById('date').value;
                var url = '{{ url_for('view_date', date='') }}' + chosenDate;
                window.location.href = url;
            };
        </script>
    </head>
    <body{% if googlemaps_api_key is defined and googlemaps_api_key != None %} onload="initMap()"{% endif %}>
        <div id="leftbox">
            <h1><a href='{{ url_for('index') }}'>Eric's Seizures</a></h1>
            <div id="timespans">
                {% for timespan in timespans -%}
                    <a href="{{ url_for('view_span', span=timespan) }}"{% if timespan == span %} id="currentspan"{% endif %}>{{ timespan }}</a>
                {% endfor -%}
            </div>
            <br><hr>
            {%- if error_message is defined -%}
            <div id="error">
                {{ error_message }}
            </div>
            {%- endif -%}
            {% if googlemaps_api_key is defined and googlemaps_api_key != None %}<div id="map_canvas"></div>{% endif %}
        </div>
        <div id="rightbox">
            <div id="raw">
                <h2>{{ total_points }} seizure{%- if total_points != 1 -%}s{%- endif -%}</h2>
                <input type="date" id="date" pattern="\d{4}-\d{2}-\d{2}"{% if today is defined and today != None %} max="{{ today }}"{% endif %} onchange="chooseDate()" value="{% if date is defined and date != None %}{{ date }}{% endif %}"><br><br>
                {%- if grouped_counts is defined and grouped_counts|length > 0 %}
                <table id="datetable">
                    <tr>
                        <th>Date</th>
                        <th>Count</th>
                    </tr>
                  {%- for group_count in grouped_counts %}
                    {% if group_count['count'] != 0 %}
                    <tr>
                        <td>{{ group_count['time'] | truncate(10, True, '') | get_dow }}</td>
                        <td>{{ group_count['count'] }}</td>
                    </tr>
                    {% endif %}
                  {%- endfor %}
                </table>
                {%- endif %}
                <ol>
                {% for point in points %}
                  {%- set unix_time = point['time'] | string | truncate(10, True, '') -%}
                    <li id="{{ unix_time }}"><a title="{{ point['address'] }} ({{ unix_time }})" href="#{{ unix_time }}" onclick="markerOpen({{ unix_time }});">{{ point['time'] | format_datetime | striptags }}</a></li>
                {% endfor -%}
                </ol>
            </div>
        </div>
    </body>
</html>
