{%- if points is defined and points != None -%}
{%- set total_points = points|length -%}
{%- else -%}
{%- set total_points = 0 -%}
{%- set points = [] -%}
{%- endif -%}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noimageindex, nofollow, nosnippet" />
        <title>Eric's Seizures ({{ total_points }} seizure{% if total_points is defined and total_points != 1 %}s{% endif %})</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        {% if googlemaps_api_key is defined and googlemaps_api_key != None %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_api_key }}"></script>
        <script type="text/javascript">

            var markers = [];
            markers.push('');
            var infowindows = [];

            function initMap() {

                const home = { lat: {{ start['latitude'] }}, lng: {{ start['longitude'] }} };
                const map = new google.maps.Map(document.getElementById('map_canvas'), {
                    zoom: {{ start['zoom'] }},
                    center: home,
                });

                {% for point in points %}
                {%- set outer_loop = loop -%}
                {%- set pretty_time = point['time'] | format_datetime -%}
                var contentString_{{ loop.index }} = '<table>';
                contentString_{{ loop.index }} += '<tr>';
                contentString_{{ loop.index }} += '<th><a href="#{{ loop.index }}">{{ loop.index }} of {{ total_points }}</a></th>';
                contentString_{{ loop.index }} += '<th><a href="{{ url_for('view_event', event=point['time']) }}">{{ pretty_time }}</a><th>';
                contentString_{{ loop.index }} += '</tr>';
                {% for i in point.keys() -%}
                contentString_{{ outer_loop.index }} += '<tr><td>{{ i }}</td><td>{{ point[i] | safe | replace("'", "\\'") }}</td></tr>';
                {% endfor -%}
                contentString_{{ loop.index }} += '</table>';
                const infowindow_{{ loop.index }} = new google.maps.InfoWindow({
                    content: contentString_{{ loop.index }},
                });
                const position_{{ loop.index }} = { lat: {{ point['latitude'] }}, lng: {{ point['longitude'] }} };
                const marker_{{ loop.index }} = new google.maps.Marker({
                    position: position_{{ loop.index }},
                    map,
                    title: "{{ pretty_time }}",
                });
                marker_{{ loop.index }}.addListener('click', () => {
                    if (infowindows) {
                        for (const [key, value] of Object.entries(infowindows)) {
                            infowindows[key].close();
                            delete(infowindows[key]);
                        };
                    };
                    infowindow_{{ loop.index }}.open({
                        anchor: marker_{{ loop.index }},
                        map,
                        shouldFocus: true
                    });
                    infowindows[{{ loop.index }}] = infowindow_{{ loop.index }};
                });
                markers.push(marker_{{ loop.index }});
                infowindow_{{ loop.index }}.addListener('closeclick', () => {
                    delete(infowindows[{{ loop.index }}]);
                });

                {% endfor -%}

                if ((window.location.hash.substr(1)) && (markers[window.location.hash.substr(1)])) {
                    markerOpen(window.location.hash.substr(1));
                };

                if (markers.length == 2) {
                    markerOpen(1);
                };
            };

            function markerOpen(id) {
                google.maps.event.trigger(markers[id], 'click');
            };

        </script>
        {%- endif -%}
    </head>
    <body{% if googlemaps_api_key is defined and googlemaps_api_key != None %} onload="initMap()"{% endif %}>
        <div id="leftbox">
            <h1><a href='/'>Eric's Seizures</a></h1>
            <div id="timespans">
                {% for timespan in timespans -%}
                    {% if timespan == span %}{{ span }}{% else %}<a href="{{ url_for('view_span', span=timespan) }}">{{ timespan }}</a>{% endif %}
                {% endfor -%}
            </div>
            <br><hr>
            {%- if error_message is defined -%}
            <div id="error">
                {{ error_message }}
            </div>
            {%- endif -%}
            {% if googlemaps_api_key is defined and googlemaps_api_key != None %}<div id="map_canvas"></div>{% endif %}
        </div>
        <div id="rightbox">
            <div id="raw">
                <h2>{{ total_points }} seizure{%- if total_points != 1 -%}s{%- endif -%}</h2>
                {% if total_points > 1 and points[-1] is defined and points[-1]['time'] is defined -%}
                <h4>since {{ points[-1]['time'] | format_datetime }}</h4>
                {% endif -%}
                <ol>
                {%- for point in points %}
                    <li id="{{ loop.index }}"><a title="{{ point['address'] }} ({{ point['time']}})" href="#{{ loop.index }}" onclick="markerOpen({{ loop.index }});">{{ point['time'] | string | format_datetime }}</a></li>
                {%- endfor %}
                </ol>
            </div>
        </div>
    </body>
</html>
