{%- if points is defined -%}
{%- set total_points = points|length -%}
{%- else -%}
{%- set total_points = 0 -%}
{%- set points = None -%}
{%- endif -%}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noimageindex, nofollow, nosnippet" />
        <title>Eric's Seizures ({{ total_points }} seizure{% if total_points is defined and total_points != 1 %}s{% endif %})</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_api_key }}"></script>
        <script type="text/javascript">

            var markers = [];
            markers.push('');
            var infowindows = [];

            function initMap() {

                const home = { lat: {{ start['latitude'] }}, lng: {{ start['longitude'] }} };
                const map = new google.maps.Map(document.getElementById('map_canvas'), {
                    zoom: {{ start['zoom'] }},
                    center: home,
                });

                {% for point in points %}
                {% set outer_loop = loop %}
                var contentString_{{ loop.index }} = '<table>';
                contentString_{{ loop.index }} += '<tr><th><a href="#{{ loop.index }}">{{ loop.index }} of {{ total_points }}</a></th><th>{{ point['time'] | format_datetime }}</th></tr>';
                {% for i in point.keys() -%}
                contentString_{{ outer_loop.index }} += '<tr><td>{{ i }}</td><td>{{ point[i] | safe | replace("'", "\\'") }}</td></tr>';
                {% endfor -%}
                contentString_{{ loop.index }} += '</table>';
                const infowindow_{{ loop.index }} = new google.maps.InfoWindow({
                    content: contentString_{{ loop.index }},
                });
                const position_{{ loop.index }} = { lat: {{ point['latitude'] }}, lng: {{ point['longitude'] }} };
                const marker_{{ loop.index }} = new google.maps.Marker({
                    position: position_{{ loop.index }},
                    map,
                    title: "{{ point['time'] | format_datetime }}",
                });
                marker_{{ loop.index }}.addListener('click', () => {
                    if (infowindows) {
                        for (const [key, value] of Object.entries(infowindows)) {
                            infowindows[key].close();
                            delete(infowindows[key]);
                        };
                    };
                    infowindow_{{ loop.index }}.open({
                        anchor: marker_{{ loop.index }},
                        map,
                        shouldFocus: true
                    });
                    infowindows[{{ loop.index }}] = infowindow_{{ loop.index }};
                });
                markers.push(marker_{{ loop.index }});
                infowindow_{{ loop.index }}.addListener('closeclick', () => {
                    delete(infowindows[{{ loop.index }}]);
                });
                {% endfor -%}
            };

            function markerOpen(id){
                google.maps.event.trigger(markers[id], 'click');
            };

        </script>
    </head>
    <body onload="initMap()">
        <div id="leftbox">
            <h1><a href='/'>Eric's Seizures</a></h1>
            {% set timespans = ['1h', '3h', '6h', '12h', '1d', '1w', '2w', '3w', '30d', '60d', '90d', '120d', '26w', '52w'] %}
            <div id="timespans">
                {% for timespan in timespans %}
                    {% if when != timespan %}<a href="{{ url_for('view', when=timespan) }}">{% endif %}{{ timespan }}{% if when != timespan %}</a>{% endif %}
                {% endfor %}
            </div>
            {% if total_points > 0 %}
            <br>
            <p>
                {{ total_points }} seizure{% if total_points != 1 %}s{% endif %}
                {% if points[-1] is defined and points[-1]['time'] is defined %}
                    since {{ points[-1]['time'] | format_datetime }}
                {% endif %}
            </p>
            <div id="map_canvas"></div>
            {% endif %}
        </div>
        <div id="rightbox">
            <ol>
            {% for point in points %}
                <li id="{{ loop.index }}"><a href="#{{ loop.index }}" onclick="markerOpen({{ loop.index }});">{{ point['time'] | format_datetime }}</a></li>
            {% endfor -%}
            </ol>
        </div>
    </body>
</html>
