{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="noimageindex, nofollow, nosnippet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block scripts %}{% endblock scripts %}
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "favicon.png" %}" rel="apple-touch-icon">
        <title>Eric's Seizures: {% block title %}{% endblock title %}</title>
    </head>

    <body>

        <header class="navbar navbar-expand-lg">
            <div class="container-fluid">
                    <a href="#" class="logo-disp" id="logo"></a>
                    <a class="navbar-brand text-primary" href="{% url "seizures" %}" id="logo-text">Eric's Seizures</a>
                    <a href="#" class="logo-disp" id="logo-rev"></a>
            </div>
        </header>

        <main class="container-fluid row">
    {% block messages %}
        {% if messages %}
            <div class="card-deck text-center" id="messages">
            {% for message in messages %}
                <div class="card">
                    <div class="card-body">
                        <span class="card-text message-{{ message.tags }}">{{ message }}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endblock messages %}
    {% block main %}
    {% endblock main %}
        </main>

    </body>
</html>
