{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="noimageindex, nofollow, nosnippet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="{% static "favicon.png" %}" rel="apple-touch-icon">
        <link rel="dns-prefetch" href="http://cdn.jsdelivr.net">
        <link rel="preconnect" href="http://cdn.jsdelivr.net">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css">
        {% block scripts %}{% endblock scripts %}
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
        <title>Eric's Seizures: {% block title %}{% endblock title %}</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://js.sentry-cdn.com/14232193fec04bf9980c1171ebf8a990.min.js" crossorigin="anonymous"></script>
        <script>
            Sentry.onLoad(function() {
                Sentry.init({
                    integrations: [
                        Sentry.replayIntegration({
                            maskAllText: false,
                            blockAllMedia: false,
                        }),
                    ],
                    replaysSessionSampleRate: 1.0,
                    replaysOnErrorSampleRate: 1.0,
                });
          });
        </script>
    </head>

    <body>

        <header class="navbar navbar-expand-lg">
            <div class="container-fluid">
                    <a href="#" class="logo-disp" id="logo"></a>
                    <a class="navbar-brand text-primary" href="{% url "seizures" %}" id="logo-text">Eric's Seizures</a>
                    <a href="#" class="logo-disp" id="logo-rev"></a>
            </div>
        </header>

        <main class="container-fluid row">
    {% block messages %}
        {% if messages %}
            <div class="card-deck text-center" id="messages">
            {% for message in messages %}
                <div class="card">
                    <div class="card-body">
                        <span class="card-text message-{{ message.tags }}">{{ message }}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endblock messages %}
    {% block main %}
    {% endblock main %}
        </main>

    </body>
</html>
